Server/bin/Debug/netcoreapp2.2/webAppJwtAuth.dll
Server/.vs/webAppJwtAuth/DesignTimeBuild/.dtbcache
Server/bin/Debug/netcoreapp2.2/webAppJwtAuth.pdb
Server/bin/Debug/netcoreapp2.2/webAppJwtAuth.deps.json
Server/bin/Debug/netcoreapp2.2/webAppJwtAuth.runtimeconfig.json
Server/bin/Debug/netcoreapp2.2/webAppJwtAuth.runtimeconfig.dev.json
Server/obj/project.assets.json
Server/obj/webAppJwtAuth.csproj.nuget.cache
Server/obj/webAppJwtAuth.csproj.nuget.g.props
Server/obj/webAppJwtAuth.csproj.nuget.g.targets
Server/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Server/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Server/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Server/obj/Debug/netcoreapp2.2/project.razor.json
Server/obj/Debug/netcoreapp2.2/webAppJwtAuth.dll
Server/obj/Debug/netcoreapp2.2/webAppJwtAuth.pdb
Server/obj/Debug/netcoreapp2.2/webAppJwtAuth.AssemblyInfo.cs
Server/obj/Debug/netcoreapp2.2/webAppJwtAuth.AssemblyInfoInputs.cache
Server/obj/Debug/netcoreapp2.2/webAppJwtAuth.RazorAssemblyInfo.cache
Server/obj/Debug/netcoreapp2.2/webAppJwtAuth.RazorAssemblyInfo.cs
Server/obj/Debug/netcoreapp2.2/webAppJwtAuth.RazorTargetAssemblyInfo.cache
Server/obj/Debug/netcoreapp2.2/webAppJwtAuth.assets.cache
Server/obj/Debug/netcoreapp2.2/webAppJwtAuth.csproj.CoreCompileInputs.cache
Server/obj/Debug/netcoreapp2.2/webAppJwtAuth.csproj.FileListAbsolute.txt
Server/obj/Debug/netcoreapp2.2/webAppJwtAuth.csprojAssemblyReference.cache
